@model FormsAuthenticationMvc_Demo.Models.User

@{
    ViewBag.Title = "SignUp";
}


<div class="container py-5">
    <div class="card rounded-0 col-md-6">
        <div class="card-header">
            <h3 class="mb-0">Sign Up</h3>
        </div>
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.UserPassword)
                    @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserPassword)
                </div>
                <button type="submit" class="btn btn-primary float-right rounded-0">Sign Up</button>
                <div>
                    @Html.ActionLink("Login here", "Login", "Account")
                </div>
            }
        </div>
    </div>
</div>



