<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms Authentication</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("List", "Index", "Account", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Add New", "Create", "Account", new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class = "nav-link text-uppercase">Welcome:@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Logout", "Logout", "Account", new { @class = "nav-link" })
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("Login", "Login", "Account", new { @class = "nav-link" })
                    </li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>